What is the output of the following snippet?

In [1]:
my_list = [1, 2]

for v in range(2):
    my_list.insert(-1, my_list[v])

print(my_list)

[1, 1, 1, 2]

The meaning of a positional argument is determined by:

ANS: its position within the argument list

Which of the following sentences are true about the code? (Select two answers)


nums = [1, 2, 3]

vals = nums

```
nums = [1, 2, 3]

vals = nums
```
Ans:nums and vals are different names of the same list

Ans:nums has the same length as vals

The following snippet:

Ans:will cause a runtime error

In [2]:
def function_1(a):
    return None


def function_2(a):
    return function_1(a) * function_1(a)


print(function_2(2))

TypeError: unsupported operand type(s) for *: 'NoneType' and 'NoneType'

The result of the following division:

In [3]:
print(1//2)

0

The following snippet:

Ans: is erroneous

In [4]:
def func(a, b):
    return b ** a


print(func(b=2, 2))

SyntaxError: positional argument follows keyword argument (<ipython-input-4-968707335caa>, line 5)

What value will be assigned to the x variable?

In [7]:
z = 0
y = 10
x = y < z and z > y or y < z and z < y
print (x)

False

Which of the following variable names are illegal and will cause the SyntaxError exception? (Select two answers)

Ans: The in and for names are Python reserved words (keywords)

What is the output of the following snippet?

In [9]:
my_list = [x * x for x in range(5)]


def fun(lst):
    del lst[lst[2]]
    return lst


print(fun(my_list))

[0, 1, 4, 9]

What is the output of the following piece of code?

In [10]:
a = 1
b = 0
a = a ^ b
b = a ^ b
a = a ^ b

print(a, b)

0 1

What is the output of the following piece of code?

ans:2

In [11]:
def fun(x):
    if x % 2 == 0:
        return 1
    else:
        return 2


print(fun(fun(2)))

2

Take a look at the snippet and choose the true statement:

ans: nums and vals have the same length

In [13]:
nums = [1, 2, 3]
vals = nums
del vals[:]
print(vals)
print(nums)

[]
[]

What is the output of the following piece of code if the user enters two lines containing 3 and 2 respectively?

ans:0

In [14]:
x = int(input())
y = int(input())
x = x % y
x = x % y
y = y % x
print(y)

3
2
0

What is the output of the following piece of code if the user enters two lines containing 3 and 6 respectively?

ans:63

In [15]:
y = input()
x = input()
print(x + y)

3
6
63

What is the output of the following piece of code?

ans:asepbsepc

In [16]:
print("a", "b", "c", sep="sep")

asepbsepc

What is the output of the following piece of code?

ans: 0.2

In [17]:
x = 1 // 5 + 1 / 5
print(x)

0.2

Assuming that my_tuple is a correctly created tuple, the fact that tuples are immutable means that the following instruction:

```
my_tuple[1] = my_tuple[1] + my_tuple[0]


```
ans: is illegal

What is the output of the following piece of code if the user enters two lines containing 2 and 4 respectively?


ans : 2.0

In [18]:
x = float(input())
y = float(input())
print(y ** (1 / x))

2
4
2.0

What is the output of the following snippet?

ans: one

In [19]:
dct = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dct['three']

for k in range(len(dct)):
    v = dct[v]

print(v)

one

How many elements does the lst list contain?


```
lst = [i for i in range(-1, -2)]


```
ans: zero

Which of the following lines correctly invoke the function defined below? (Select two answers)

ans: fun(b=0, a=0)

ans: fun(0, 1, 2)

In [34]:
def fun(a, b, c=0):
    return a,b,c# Body of the function.
fun(b=0, a=0)
fun(0, 1, 2)

(0, 1, 2)

What is the output of the following snippet?

ans:0

In [23]:
def fun(x, y):
    if x == y:
        return x
    else:
        return fun(x, y-1)


print(fun(0, 3))

0

How many stars (*) will the following snippet send to the console?

ans:the snippet will enter an infinite loop, printing one star per line

In [ ]:
i = 0
while i < i + 2 :
    i += 1
    print("*")
else:
    print("*")

What is the output of the following snippet?

ans:4

In [25]:
tup = (1, 2, 4, 8)
tup = tup[-2:-1]
tup = tup[-1]
print(tup)

4

What is the output of the following snippet?

ans:the code is erroneous (the dict object has no vals() method)

In [26]:
dd = {"1": "0", "0": "1"}
for x in dd.vals():
    print(x, end="")

AttributeError: 'dict' object has no attribute 'vals'

What is the output of the following snippet?

ans:21

In [28]:
dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

21

What is the output of the following snippet?

ans:4

In [29]:
def fun(inp=2, out=3):
    return inp * out


print(fun(out=2))

4

How many hashes (#) will the following snippet send to the console?

ans:three

In [30]:
lst = [[x for x in range(3)] for y in range(3)]

for r in range(3):
    for c in range(3):
        if lst[r][c] % 2 != 0:
            print("#")

#
#
#

What is the output of the following code if the user enters a 0?

ans:0.0

In [31]:
try:
    value = input("Enter a value: ")
    print(int(value)/len(value))
except ValueError:
    print("Bad input...")
except ZeroDivisionError:
    print("Very bad input...")
except TypeError:
    print("Very very bad input...")
except:
    print("Booo!")

Enter a value: 0
0.0

What is the expected behavior of the following program?

```
try:
    print(5/0)
    break
except:
    print("Sorry, something went wrong...")
except (ValueError, ZeroDivisionError):
    print("Too bad...")
```
ans:The program will cause a SyntaxError exception.

What is the expected behavior of the following program?

ans:The program will cause a ValueError exception.

In [32]:
foo = (1, 2, 3)
foo.index(0)

ValueError: tuple.index(x): x not in tuple

Which of the following snippets shows the correct way of handling multiple exceptions in a single except clause?

ans:A only


```
except (TypeError, ValueError, ZeroDivisionError):
    # Some code.
```

What will happen when you attempt to run the following code?

ans: The code will raise the SyntaxError exception.

In [33]:
print(Hello, World!)

SyntaxError: invalid syntax (<ipython-input-33-61cfaa8ab997>, line 1)